[Global]
    user = {{ openshift_cloudprovider_vsphere_username }}
    password = {{ openshift_cloudprovider_vsphere_password }}
    server = {{ openshift_cloudprovider_vsphere_server }}
    port = {{ openshift_cloudprovider_vsphere_port }}
    insecure-flag = {{ openshift_cloudprovider_vsphere_insecure }}
    datacenter = {{ openshift_cloudprovider_vsphere_datacenter }}
    datastore = {{ openshift_cloudprovider_vsphere_datastore }}
    working-dir = {{ openshift_cloudprovider_vsphere_workingdir }}
[Disk]
    scsicontrollertype = pvscsi